
:root {
    --first-color: white;
    --second-color:#686868 ;
    --third-color: black;
    --fourth-color: #FE5000;
    --fifth-color:#F1F1F1;
    --first-font-family: "Ubuntu";
    --second-font-family: "DM Sans";
  }


  @media (max-width:700px){
        .content-category{
            padding: 0.63em 0.63em;
        }
        .path{
            margin: 0 0 1.25em 0;
        }
        .content-header{
            margin-bottom: 1.88em;
        }
        .content-header img{
            width: 3.13em;
            height: 0.81em;
        }
        ul li{
            margin: 1.25em 0.31em;
        }
        ul li a{
            font-size: 0.88em;
        }
        .pages ul #active-page{
            padding: 0.31em 0.63em;
        }
        .container-dishes .row{
            margin-bottom: 1.25em;
        }
        .container-img .name-of-the-dish{
            margin-top: 0.63em;
            font-size: 0.88em;
        }
        .img-category{
            height: 9.38em;
        }
        .img-category img{
            height: 9.38em;
        }
        .decoration-2 img{
            width: 9.38em;
        }
  }
  @media (min-width:701px) and (max-width:915px){
        .content-category{
            padding: 1.25em 1.25em;
        }
        .path{
            margin: 0 0 1.88em 0;
        }
        .content-header{
            margin-bottom: 3.13em;
        }
        .content-header img{
            width: 6.25em;
            height: 1.63em;
        }
        ul li{
            margin: 1.25em 0.94em;
        }
        ul li a{
            font-size: 1em;
        }
        .pages ul #active-page{
            padding: 0.63 0.94em;
        }
        .container-dishes .row{
            margin-bottom: 1.88em;
        }
        .container-img .name-of-the-dish{
            margin-top: 1.25em;
            font-size: 1em;
        }
        .img-category{
            height: 15.63em;
        }
        .img-category img{
            height: 15.63em;
        }
        /* листья салата в р-не футтера */
        .decoration-2 img{
        width: 15.63em;
        }
  }

.content-category{
    background-color: var(--fifth-color);
    text-align: center;
    padding: 1.25em 3.13em 3.13em 3.13em;
}
.path{
    text-align: left;
    margin: 0 0 3.13em 0;
}
.path a{
    font-family: var(--second-font-family);
    color: var(--second-color);
    text-decoration: none;
}
.path a:hover{
    color: var(--fourth-color);
}
#active-path{
    color: var(--fourth-color);
}
.content-header{
    margin-bottom: 3.13em;
}
.content-header img{
    width: 12.50em;
    height: 3.13em;
    margin: 0 0;
}
.content-category  .content-header h1{
    font-family: var(--second-font-family);
    font-weight: bold;
    line-height: 0.3;
    margin: 0 0;
}
.pages .pagination{
    text-align: right;
    align-items: right;
    margin: 0 0 0 77.90em;
}
ul li{
    border-radius: 0.63em;
    padding: 0.31em 0.94em;
    margin: 3.13em 0.31em;
    background-color: var(--first-color);
}

ul li a{
    text-decoration: none;
    font-family: var(--first-font-family);
    font-size: 1.13em;
    color: var(--third-color);
}
.pages ul #active-page{
    background-color: var(--fourth-color);
    border-radius: 0.63em;
    padding: 0.31em 0.94em;
}
ul li:hover{
    background-color: #FE5000;
}
.container-dishes .row{
    margin-bottom: 3.13em;
    text-align: center;
    }
    .container-img{
       padding: 0 0;
    }
    .container-img a{
        font-family: var(--first-font-family);
        color: var(--third-color);
        text-decoration: none;
    }
    .container-img .name-of-the-dish{
        margin-top: 1.88em ;
        font-size: 1.13em;
    }
    .container-img a:hover {
        color: var(--fourth-color);
    }
    .img-category{
        border-radius: 0.63em;
        overflow:hidden;
        height: 21.88em;
    }
    .img-category img{
        border-radius: 0.63em;
        height: 21.88em;
        align-items: center;
    }
    /* томат в р-не футтера */
    .decoration-2 img{
        width: 21.88em;
        position: absolute;
        top: 230%;
        left:-15%;
  }